page-signin {
  ion-content {
    background: #605e80 url("../../assets/img/Sign-In.png") no-repeat;
    background-size: contain;
    max-width: 750px;
    height: 1334px;

    button {
      background-color: transparent;
      width: 80%;
      margin: 0 auto;
    }
  }
  .item-md {
    background-color: transparent;
  }
  .list-md {
    margin: 60% auto 40px;
    width: 80%;
  }
  .text-input-md {
    color: #fff;
    text-align: center;
  }
}

